/* sign up form responsive */

@media only screen and (max-width: 650px){
    .sign-up-form{
        width: 98%;
    }
}

/* sign up form responsive */

/* notified responsive */

@media only screen and (max-width: 700px){
    .newsletter .card{
        width: 98%;
    }
}

/* notified responsive */


/* footer responsive css */

@media only screen and (max-width: 678px){

    .footer{
        padding: 10px;
    }

    .footer .inner-footer{
        flex-wrap: wrap;
        align-items: flex-start !important;
        justify-content: space-between !important;
    }

    .footer .inner-footer .items{
        width: 48%;
        margin-top: 20px;
    }

    .footer .inner-footer .items:last-child{
        margin-top: 40px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 678px){
    .footer .inner-footer{
        flex-direction: column;
    }

    .footer .inner-footer .items{
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .footer .list-group{
       justify-content: center;
    }

    .footer .items{
        border-bottom: 0.5px dotted white;
    }

}


/* footer responsive css */